<form (ngSubmit)="submit()" *ngIf="form" [formGroup]="form" (keydown.enter)="$event.preventDefault();">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title w100">
        Filtro
      </h3>
    </div>

    <div class="box-body">
      <fieldset class="form-horizontal" [disabled]="loading">

        <div class="row">
          <div class="col-md-4 col-xs-12">
            <label for="barcode">
              Código de Barras
            </label>
            <input id="barcode" class="form-control" formControlName="barcode" maxlength="255" />
          </div>

          <!--
          <div class="col-md-4 col-xs-12">
            <label for="reservation">
              Reserva
            </label>
            <input id="reservation" class="form-control" formControlName="reservation" maxlength="255" />
          </div>
          -->

          <div class="col-md-4 col-xs-12">
            <label for="batchCode">
              Lote
            </label>
            <input id="batchCode" class="form-control" formControlName="batchCode" maxlength="255" />
          </div>


          <div class="col-md-4 col-xs-12">
            <label for="departmentId">
              Setor
            </label>
            <select formControlName="departmentId" class="form-control" id="departmentId">
              <option value=''>Selecione um setor</option>
              <option *ngFor="let department of departments" [value]="department.id">
                {{ department.name }}
              </option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4 col-xs-12">
            <label for="warehouseId">
              Armazém
            </label>
            <select formControlName="warehouseId" class="form-control" id="warehouseId">
              <option value=''>Selecione um armazém</option>
              <option *ngFor="let warehouse of warehouses" [value]="warehouse.id">
                {{ warehouse.name }}
              </option>
            </select>
          </div>

          <div class="col-md-4 col-xs-12">
            <label for="indicationSpecialCoffee">
              Indicação de tipo de café
            </label>
            <select formControlName="indicationSpecialCoffee" class="form-control" id="indicationSpecialCoffee">
              <option value=''>Selecione um tipo de café</option>
              <option *ngFor="let type of coffeeTypes" [value]="type.value">
                {{ type.name }}
              </option>
            </select>
          </div>

          <div class="col-md-4 col-xs-12">
            <label for="includeNotInStock" style="padding-right:20px">
              Lotes Físicos Baixados
            </label>
            <input formControlName="includeNotInStock" type="checkbox" id="includeNotInStock"
              appTooltip="Lotes não mais existentes no armazém" />
          </div>

        </div>

        <div class="row text-right bts-actions">
          <div class="col-xs-12">

            <button type="button" (click)="buildForm()" class="btn btn-size btn-default">Limpar</button>

            <button [disabled]="loading" [class.has-spinner]="loading" type="submit" class="btn btn-size btn-success">
              <span class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></span>
              Filtrar
            </button>

          </div>
        </div>

      </fieldset>
    </div>

  </div>
</form>