<div class="modal fade"
     appModal
     [shownCallback]="focusOnInput()"
     (close)="close.emit(null)"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="form" class="form-horizontal">
        <div class="modal-header">
          <h3 class="modal-title">Data de Prorrogação do Warrant</h3>
        </div>

        <div style="padding:20px">
          <div appErrorGroup>
            <label for="expiresExtension">Data</label>
            <div class="input-group">
              <input id="expiresExtension" formControlName="expiresExtension" type="text"
                     class="form-control"
                     [textMask]="dateMask"
                     appDatePicker/>
              <div class="input-group-addon clickable"><span class="fa fa-calendar fa-fw"></span></div>
            </div>
            <app-error-message controlName="expiresExtension" label="Data"></app-error-message>
          </div>
        </div>

        <div class="modal-footer">
          <app-submit-button [loading]="loading">Salvar</app-submit-button>
        </div>

      </form>
    </div>
  </div>
</div>
