<section class="content-header">
  <h1>
    <small>Cadastro</small> Trasportadora
  </h1>
  <app-breadcrumb [items]="[
    ['Início', ''],
    ['Trasportadora', '/carrier'],
    ['Cadastro da Trasportadora', null]
  ]"></app-breadcrumb>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="save()" [formGroup]="form" *ngIf="form" class="form-horizontal">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Formulário</h3>
          </div>

          <div class="panel-body">
            <fieldset [disabled]="loading">
              <div class="form-group row" appErrorGroup>
                <div class="col-md-12">
                  <app-person-modal-find [bootMode]="(carrier && carrier.id) ? 'editable': 'default'" formControlName="personId"></app-person-modal-find>
                  <app-error-message controlName="personId" label="Pessoa"></app-error-message>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="box-footer">
            <div class="row">
              <div class="col-sm-offset-2">
                <div class="col-sm-10 mb10">
                  <app-submit-button [loading]="loading">
                    SALVAR
                  </app-submit-button>
                  <a [class.disabled]="loading" routerLink="/carrier" class="btn btn-default btn-size">
                    VOLTAR
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

