<div class="box">
  <div class="box-header">
    <h3 class="box-title w100">
      Filtro
    </h3>
  </div>
  <div class="box-body">
    <form
      class="form-horizontal"
      (ngSubmit)="submit()"
      *ngIf="form"
      [formGroup]="form"
      (keydown.enter)="$event.preventDefault();"
    >
      <fieldset [disabled]="loading">
        <div class="col-xs-12">
          <div
            class="form-group"
            appErrorGroup
          >
            <label
              class="control-label col-xs-4 col-md-2 text-right"
              for="prospect"
            >
              Prospecto
            </label>
            <div class="col-xs-8 col-md-10">
              <input
                id="prospect"
                class="form-control"
                formControlName="prospect"
                maxlength="255"
              />
              <app-error-message
                controlName="prospect"
                label="Prospecto"
              ></app-error-message>
            </div>
          </div>

          <div
            class="form-group"
            appErrorGroup
          >
            <label
              class="control-label col-xs-4 col-md-2 text-right"
              for="batchCode"
            >
              Lote
            </label>
            <div class="col-xs-8 col-md-10">
              <input
                id="batchCode"
                class="form-control"
                formControlName="batchCode"
                maxlength="255"
              />
              <app-error-message
                controlName="batchCode"
                label="Lote"
              ></app-error-message>
            </div>
          </div>

          <div
            class="form-group"
            appErrorGroup
          >
            <label
              class="control-label col-xs-4 col-md-2 text-right"
              for="collaboratorId"
            >
              Cooperado
            </label>
            <div class="col-xs-8  col-md-10">
              <app-autocomplete [service]="collaboratorAutocomplete"></app-autocomplete>
              <input
                type="hidden"
                formControlName="collaboratorId"
              />
              <app-error-message
                controlName="collaboratorId"
                label="Cliente"
              ></app-error-message>
            </div>
          </div>

          <div
            class="form-group"
            appErrorGroup
          >
            <label
              class="control-label col-xs-4 col-md-2 text-right"
              for="createdDateStartString"
            >Data</label>
            <div class="col-xs-8 col-md-10">
              <div class="row">
                <div class="col-xs-6">
                  <div class="input-group">
                    <input
                      type="text"
                      [textMask]="dateMask"
                      appDatePicker
                      formControlName="startDateString"
                      placeholder="Início"
                      class="form-control"
                    />
                    <div class="input-group-addon clickable">
                      <span class="fa fa-calendar fa-fw"></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-group">
                    <input
                      type="text"
                      [textMask]="dateMask"
                      appDatePicker
                      formControlName="endDateString"
                      placeholder="Fim"
                      class="form-control"
                    />
                    <div class="input-group-addon clickable">
                      <span class="fa fa-calendar fa-fw"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="form-group"
            appErrorGroup
          >
            <label
              class="control-label col-xs-4 col-md-2 text-right"
              for="status"
            >
              Situação
            </label>
            <div class="col-xs-8  col-md-10">
              <select
                formControlName="status"
                class="form-control"
              >
                <option value=''>Selecione um tipo</option>
                <option
                  *ngFor="let status of statusList"
                  [value]="status.code"
                >
                  {{ status.name }}
                </option>
              </select>
              <app-error-message
                controlName="status"
                label="Situação"
              ></app-error-message>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-8 col-sm-offset-2 col-sm-10">
          <button
            [disabled]="loading"
            [class.has-spinner]="loading"
            type="submit"
            class="btn btn-size btn-success"
          >
            <span
              class="fa fa-spinner fa-pulse fa-fw"
              *ngIf="loading"
            ></span>
            PESQUISAR
          </button>

          <button
            type="button"
            (click)="buildForm()"
            class="btn btn-size btn-default"
          >LIMPAR</button>
        </div>
      </div>
    </form>
  </div>
</div>
