<div class="box">

  <div class="box-header with-border">
    <h3 class="box-title w100">
      Divisão de lotes

      <button
        (click)="addBatch()"
        [disabled]="loading || (!!batch && !batch.id)"
        type="button"
        class="btn btn-success btn-sm text-right"
        style="float: right">
        <span class="fa fa-fw fa-plus"></span>
        <strong>Criar Lote</strong>
      </button>
    </h3>
  </div>

  <div class="box-body">
    <div class="col-xs-14">
      <app-loading *ngIf="loading"></app-loading>
      <div *ngIf="!loading && batches && batches.length > 0">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-xs-1">
                  Lote
                </th>
                <th class="col-xs-1">
                  Posição Atual
                </th>
                <!--<th class="col-xs-1">
                    Local Atual
                </th>-->
                <th class="col-xs-1">
                  P. Bruto
                </th>
                <th class="col-xs-1">
                  Tara
                </th>
                <th class="col-xs-1">
                  P. Liquido
                </th>
                <th class="col-xs-1">
                  Qt. Liquida Manual
                </th>
                <th class="col-xs-1">
                  Qt. Liquida
                </th>
                <th class="col-xs-1">
                  Tipo Entrada
                </th>
                <th class="col-xs-1">
                  Tipo Café
                </th>
                <th class="col-xs-1">
                  Média por Saca
                </th>
                <th class="col-xs-4 text-center">
                  Ação
                </th>
              </tr>
            </thead>
            <tbody>
            <template
              ngFor
              let-batchOne
              let-i="index"
              [ngForOf]="batches">
              <tr>
                <td>{{batchOne.batchCode}}</td>
                <td>{{batchOne.positionName}}</td>
                <!-- <td>{{batch.currentLocal}}</td>-->
                <td>
                  <div
                    *ngIf="editGross !== batchOne.id || !allowManualWeighing(batchOne.batchOperation)"
                    (click)="setEditGross(batchOne)"
                    [class.clickable]="true">
                    {{ batchOne.grossWeightString }}
                  </div>

                  <input
                    *ngIf="editGross === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    type="text"
                    class="form-control"
                    [textMask]="decimalMask"
                    [(ngModel)]="batchOne.grossWeightString"
                  />

                  <button
                    *ngIf="editGross === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    (click)="saveGross(batchOne)"
                    type="button"
                    class="btn btn-success btn-xs fa fa-check"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>

                  <button
                    *ngIf="editGross === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    (click)="unsetEditGross()"
                    type="button"
                    class="btn btn-danger btn-xs fa fa-close"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>

                </td>
                <td>
                  <div
                    *ngIf="editTare !== batchOne.id || !allowManualWeighing(batchOne.batchOperation)"
                    (click)="setEditTare(batchOne)"
                    [class.clickable]="true"
                  >{{ batchOne.tareWeightString }}</div>

                  <input
                    *ngIf="editTare === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    type="text"
                    class="form-control"
                    [textMask]="decimalMask"
                    [(ngModel)]="batchOne.tareWeightString"
                  />

                  <button
                    *ngIf="editTare === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    (click)="saveTare(batchOne)"
                    type="button"
                    class="btn btn-success btn-xs fa fa-check"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>

                  <button
                    *ngIf="editTare === batchOne.id && allowManualWeighing(batchOne.batchOperation)"
                    (click)="unsetEditTare()"
                    type="button"
                    class="btn btn-danger btn-xs fa fa-close"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>

                </td>
                <td>{{batchOne.netWeightString}}</td>
                <td>
                  <input
                    type="checkbox"
                    [checked]="batchOne.netQuantityTyped"
                    [disabled]="!batchOne.netQuantityTyped"
                    (change)="saveNetQuantityValue(batchOne, false)"
                  />
                </td>
                <td>
                  <div
                    *ngIf="editNetQuantityValue !== batchOne.id"
                    (click)="setEditNetQuantityValue(batchOne)"
                    [class.clickable]="true"
                  >{{ batchOne.netQuantityValue }}</div>

                  <input
                    *ngIf="editNetQuantityValue === batchOne.id && allowManualSacks()"
                    type="text"
                    class="form-control"
                    [textMask]="decimalMask"
                    [(ngModel)]="batchOne.netQuantityValue"
                  />

                  <button
                    *ngIf="editNetQuantityValue === batchOne.id && allowManualSacks()"
                    (click)="saveNetQuantityValue(batchOne, true)"
                    type="button"
                    class="btn btn-success btn-xs fa fa-check"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>

                  <button
                    *ngIf="editNetQuantityValue === batchOne.id && allowManualSacks()"
                    (click)="unsetNetQuantityValue()"
                    type="button"
                    class="btn btn-danger btn-xs fa fa-close"
                    [disabled]="isBatchEditing(batchOne)"
                  ></button>
                </td>
                <td>{{batchOne.receiveTypeObject?.name}}</td>
                <td>{{batchOne.typeCoffee}}</td>
                <td>{{batchOne.averageWeightBagsString}}</td>
                <td class="bts-list-actions">
                  <button
                    *ngIf="allowTareWeightOf(i)"
                    (click)="weighTare(batchOne)"
                    type="button"
                    appTooltip="Pesar a Tara"
                    class="btn btn-default btn-sm"
                    [disabled]="isBatchEditing(batchOne)">
                    <i class="fa fa-balance-scale"></i>T
                  </button>

                  <button
                    *ngIf="!readOnly"
                    (click)="edit(batchOne)"
                    type="button"
                    class="btn btn-primary btn-sm"
                    appTooltip="Editar"
                    [disabled]="isBatchEditing(batchOne)">
                    <span class="fa fa-pencil fa-lg"></span>
                  </button>

                  <button
                    *ngIf="!readOnly"
                    (click)="deleteConfirm.open(batchOne.id)"
                    type="button"
                    appTooltip="Excluir"
                    class="btn btn-danger btn-sm"
                    [disabled]="isBatchEditing(batchOne)">
                    <span class="fa fa-trash-o fa-lg"></span>
                  </button>

                  <button
                    *ngIf="allowMove(batchOne)"
                    (click)="receiving(batchOne)"
                    type="button"
                    appTooltip="Recebimento"
                    class="btn btn-default btn-sm"
                    [disabled]="isBatchEditing(batchOne)">
                    <span class="fa fa-download fa-lg"></span>
                  </button>

                  <button
                    *ngIf="allowReceiveSacaria(batchOne)"
                    (click)="storageUnitSacariaFormModal.open(batchOne)"
                    type="button"
                    appTooltip="Recebimento"
                    class="btn btn-default btn-sm"
                    [disabled]="isBatchEditing(batchOne)">
                    <span class="fa fa-download fa-lg"></span>
                  </button>

                  <button
                    *ngIf="allowMove(batchOne)"
                    (click)="bagging(batchOne)"
                    type="button"
                    appTooltip="Embegamento"
                    class="btn btn-default btn-sm"
                    [disabled]="isBatchEditing(batchOne)">
                    <span class="fa fa-cube fa-lg"></span>
                  </button>
                </td>
              </tr>
              <tr *ngIf="batch && batchOne.id === batch.id && visible">
                <td colspan="12">
                  <div class="box-body">
                    <form
                      (ngSubmit)="save()"
                      [formGroup]="form"
                      class="form-horizontal box">

                      <fieldset [disabled]="loading">

                        <div class="box-header with-border">
                          <h3 class="box-title w100">
                            Editar Lote
                          </h3>
                        </div>

                        <div class="box-body">
                          <div class="col-xs-12">
                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="batchCode">
                                Código
                              </label>
                              <div class="col-md-4">
                                <input
                                  formControlName="batchCode"
                                  type="text"
                                  class="form-control"
                                  maxlength="255"
                                  placeholder="Gerar automaticamente"
                                  id="batchCode"
                                />
                                <app-error-message
                                  controlName="batchCode"
                                  label="Código"></app-error-message>
                              </div>
                              <div class="col-md-6 ">
                                <label class="control-label col-md-4 text-right" for="refClient">
                                  Ref. Cliente
                                </label>
                                <div class="col-md-8" style="padding-left: 10px">
                                  <input formControlName="refClient" type="text" class="form-control" maxlength="20" id="refClient" placeholder="Ref. Cliente"/>
                                  <app-error-message controlName="refClient" label="Ref. Cliente"></app-error-message>
                                </div>
                              </div>
                            </div>

                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="packTypeId">Embalagem de Transporte</label>
                              <div class="col-md-4">
                                <select formControlName="packTypeId" class="form-control" id="packTypeId">
                                  <option value=''>Selecione um tipo de embalagem de transporte</option>
                                  <option *ngFor="let packType of packTypes"
                                    [value]="packType.id">
                                    {{ packType.description }}
                                 </option>
                                </select>
                                <app-error-message
                                  controlName="packTypeId"
                                  label="Embalagem de Transporte"></app-error-message>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" appErrorGroup>
                                  <label class="control-label col-md-4 text-right" for="storageTypeId">Forma de Armazenamento</label>
                                  <div class="col-md-8">
                                    <select formControlName="storageTypeId" class="form-control" id="storageTypeId">
                                      <option value=''>Selecione uma forma de armazenamento</option>
                                      <option *ngFor="let packType of packTypes"
                                        [value]="packType.id">
                                        {{ packType.description }}
                                      </option>
                                    </select>
                                    <app-error-message
                                      controlName="storageTypeId"
                                      label="Forma de Armazenamento"></app-error-message>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="typeCoffeeId">Tipo Café</label>
                              <div class="col-md-4">
                                <select formControlName="typeCoffeeId" class="form-control" id="typeCoffeeId" [attr.disabled]="isCertificated ? '' : null">
                                  <option
                                    *ngFor="let type of typeCoffee"
                                    [value]="type.code">
                                    {{ type.name }}
                                  </option>
                                </select>
                                <app-error-message
                                  controlName="typeCoffeeId"
                                  label="Tipo de Embalagem"></app-error-message>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" appErrorGroup>
                                  <label
                                    class="control-label col-md-4 text-right"
                                    for="contaminant">Contaminantes</label> <!--Encontrado contaminantes-->
                                  <div class="col-md-8">
                                    <ng-select
                                      id="contaminant"
                                      [multiple]="true"
                                      [items]="convertToPattern(contaminants)"
                                      formControlName="contaminant"
                                      placeholder="Sem Contaminantes">
                                    </ng-select>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="receiveType">Tipo de Entrada</label>
                              <div class="col-md-4">
                                <select formControlName="receiveType" class="form-control" id="receiveType">
                                  <option *ngFor="let receiveType of receiveTypes"
                                    [value]="receiveType.code">
                                    {{ receiveType.name }}
                                  </option>
                                </select>
                                <app-error-message
                                  controlName="receiveType"
                                  label="Tipo de Entrada"></app-error-message>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" appErrorGroup>
                                    <label class="control-label col-md-4 text-right" for="moistureContent">
                                      % Teor de umidade
                                    </label>
                                    <div class="col-md-8">
                                      <input [formControl]="form.get('moistureContent')" type="text" [textMask]="decimalMask"
                                        class="form-control" maxlength="10" id="moistureContent" />
                                      <app-error-message controlName="moistureContent" label="% Teor de umidade"></app-error-message>
                                    </div>
                                  </div>
                                <!--
                                <div class="form-group" appErrorGroup>
                                <label
                                  class="control-label col-md-4 text-right"
                                  for="indKeepPack">Usar embalagem do cliente</label>
                                <div class="col-md-1">
                                  <input formControlName="indKeepPack"
                                    class="form-check-input"
                                    type="checkbox" id="indKeepPack">
                                </div>
                              </div>
                              -->
                              </div>
                            </div>

                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="strainerId">Peneira</label>
                              <div class="col-md-4">
                                <select formControlName="strainerId" class="form-control" id="strainerId">
                                  <option value=''>Selecione uma peneira</option>
                                  <option *ngFor="let strainer of strainers" [value]="strainer.id">
                                    {{ strainer.description }}
                                  </option>
                                </select>
                                <app-error-message controlName="strainerId" label="Peneira"></app-error-message>
                              </div>
                              <div class="col-md-6">
                                <label class="control-label col-md-4 text-right" for="drinkId">Tipo de Bebida</label>
                                <div class="col-md-8">
                                  <select formControlName="drinkId" class="form-control" id="drinkId">
                                    <option value=''>Selecione um tipo de bebida</option>
                                    <option *ngFor="let drink of drinks" [value]="drink.id">
                                      {{ drink.name }}
                                    </option>
                                  </select>
                                  <app-error-message controlName="drinkId" label="Tipo de Bebida"></app-error-message>
                                </div>
                              </div>
                            </div>

                            <div class="form-group" appErrorGroup>
                              <label class="control-label col-md-2 text-right" for="netQuantity">
                                Quantidade sacas
                              </label>
                              <div class="col-md-4">
                                <input [formControl]="form.get('netQuantity')" type="text"
                                  class="form-control" id="netQuantity" placeholder="Quantidade de sacas"/>
                                <app-error-message controlName="netQuantity" label="Quantidade de sacas 0"></app-error-message>
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-2 text-right" for="observation">
                                Observação
                              </label>
                              <div class="col-md-10">
                                <input formControlName="observation"
                                  type="text"
                                  class="form-control"
                                  maxlength="100"
                                  id="observation" />
                              </div>
                            </div>

                          </div>
                        </div>
                      </fieldset>

                      <div class="box-footer">
                        <app-submit-button [loading]="loading">
                          Salvar
                        </app-submit-button>

                        <button
                          (click)="cancel();"
                          type="button"
                          class="btn btn-default">Cancelar</button>
                      </div>

                    </form>
                  </div>
                </td>
              </tr>
            </template>
            </tbody>

            <tfoot>
              <tr>
                <td>
                  <strong>Total:</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ totalNetWeight }}</td>
                <td></td>
                <td>{{ totalNetQuantity }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


</div>

<app-confirm
  *ngIf="deleteConfirm.opened"
  message="Tem certeza que deseja excluir este registro?"
  (confirm)="delete(deleteConfirm.value)"
  (close)="deleteConfirm.close()"
>
</app-confirm>

<app-storage-unit-sacaria-form-modal
  *ngIf="storageUnitSacariaFormModal.opened"
  [batch]="storageUnitSacariaFormModal.value"
  (close)="storageUnitSacariaFormModalCloseHandler()"
></app-storage-unit-sacaria-form-modal>

<app-automation-route-in-modal
  *ngIf="batchReceivingModalComponent.opened"
  [batch]="batch"
  [batchOperation]="batchOperation"
  [automationType]="batchReceivingModalComponent.value"
  (close)="automationRouteModalCloseHandler()"
></app-automation-route-in-modal>
