<div class="row">
  <label class="control-label col-md-2 text-right">
    Valores de Classificação
  </label>
  <div class="form-group col-md-10" appErrorGroup>
    <app-loading *ngIf="loading"></app-loading>

    <form [formGroup]="form" (ngSubmit)="add()" *ngIf="form">
      <table class="table table-bordered">
        <tr>
          <th class="col-xs-3">Tipo</th>
          <th class="col-xs-2">Valor</th>
          <th class="col-xs-3">Responsável</th>
          <th class="col-xs-1">Data</th>
          <th class="col-xs-1 text-center">Ação</th>
        </tr>
        <tr *ngIf="availableTypes && availableTypes.length">
          <td appErrorGroup>
            <select formControlName="type" class="form-control">
              <option value="">Selecione um tipo</option>
              <option *ngFor="let type of availableTypes" [value]="type.id">
                {{ type?.name }}
              </option>
            </select>
            <app-error-message controlName="type" label="Tipo"></app-error-message>
          </td>
          <td appErrorGroup>
            <input *ngIf="!values || !values.length" id="value" class="form-control" [textMask]="unlimitedDecimalMask"
                   formControlName="value"
                   maxlength="50"/>
            <select *ngIf="values && values.length" formControlName="value" class="form-control">
              <option value="">Selecione um valor</option>
              <option *ngFor="let value of values" [value]="value.value">
                {{ value.value }}
              </option>
            </select>
            <app-error-message controlName="value" label="Valor"></app-error-message>
          </td>
          <td appErrorGroup>
            <select formControlName="itemOwner" class="form-control">
              <option value="">Selecione um responsável</option>
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.label }}
              </option>
            </select>
            <app-error-message controlName="itemOwner" label="Responsável"></app-error-message>
          </td>
          <td appErrorGroup>
            <!-- <input type="input" id="itemDate" class="form-control" formControlName="itemDate"
              maxlength="10" disabled="true"/>
              <app-error-message controlName="itemDate" label="Data"></app-error-message> -->
          </td>
          <td class="text-center">
            <button type="submit" class="btn btn-success" appTooltip="Adicionar">
              <span class="fa fa-check"></span>
            </button>
          </td>
        </tr>
        <ng-container *ngFor="let serviceItem of data">
          <tr class="active">
            <td>{{ serviceItem.classificationType?.name }}</td>
            <td>
              {{ serviceItem.value }}
            </td>
            <td>
              {{ serviceItem.classifiedBy?.label }}
            </td>
            <td>
              {{ serviceItem.classificationDateString }}
            </td>
            <td class="text-center">
              <button (click)="edit(serviceItem)" type="button" appTooltip="Editar" class="btn btn-primary btn-sm">
                <span class="fa fa-edit fa-lg"></span>
              </button>
              <button (click)="remove(serviceItem)" type="button" appTooltip="Excluir" class="btn btn-danger btn-sm">
                <span class="fa fa-trash-o fa-lg"></span>
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
    </form>

    <div *ngIf="submitted && (!data || !data.length)" class='text-danger'>
      É obrigatório selecionar ao menos um tipo de classificação
    </div>
  </div>
</div>
