<section class="content-header">
  <h1>
    <small>Detalhes</small>
    Bebida
  </h1>
  <app-breadcrumb [items]="[
    ['Início', ''],
    ['Bebidas', '/drink'],
    ['Detalhes da Bebida', null]
  ]"></app-breadcrumb>
</section>

<app-drink-list-info [drink]="drink" *ngIf="drink"></app-drink-list-info>

 <div class="panel panel-default">
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-12 mb10">
        <a routerLink="/drink"
           class="btn btn-success btn-size">
          Voltar
        </a>
      </div>
    </div>
  </div>
</div>
