<div class="modal fade" appModal (close)="close.emit(null)" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-history"></i> {{ title || 'Histórico' }}</h3>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-size" data-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>
