<section class="content-header">
  <h1>
    <small>Cadastro</small>
    Envio de Amostra
  </h1>
  <app-breadcrumb [items]="[
    ['Início', ''],
    ['Estoque', ''],
    ['Envio de Amostra', null]
  ]"></app-breadcrumb>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Dados de Envio de Amostra</h3>
        </div>
        <div class="box-body">
          <form (ngSubmit)="save()" [formGroup]="form"  class="form-horizontal">
            <fieldset [disabled]="loading">
              <div class="form-group">
                <label class="control-label col-md-2 text-right">Número</label>
                <div class="col-md-10">
                  <input disabled="true" value="{{samplePack.code}}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2 text-right">Data de Envio</label>
                <div class="col-md-10">
                  <input disabled="true" value="{{samplePack.sendDate | date :'dd/MM/yyyy' }}" class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-2 text-right">Responsável Envio</label>
                <div class="col-md-10">
                  <input disabled="true" value="{{samplePack.sendBy?.name}}" class="form-control" />
                </div>
              </div>



              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="boxCode" >Caixa</label>
                <div class="col-md-10">
                  <input id="boxCode" formControlName="boxCode" type="text" maxlength="50" class="form-control" />
                  <app-error-message controlName="boxCode" label="Caixa"></app-error-message>
                </div>
              </div>


              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="sealCode" >Lacre</label>
                <div class="col-md-10">
                  <input id="sealCode" formControlName="sealCode" type="text" maxlength="50" class="form-control" />
                  <app-error-message controlName="sealCode" label="Lacre"></app-error-message>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label col-md-2 text-right">Situação</label>
                <div class="col-md-10">
                  <input disabled="true" value="{{samplePack.statusObject?.name}}" class="form-control" />
                </div>
              </div>
              <div class="form-group" appErrorGroup>
                <label class="control-label col-md-2 text-right" for="sendNote" >Observação Envio</label>
                <div class="col-md-10">
                  <textarea cols="30" maxlength="255" class="form-control" rows="5" id="sendNote" formControlName="sendNote">
                  </textarea>
                  <app-error-message controlName="sendNote" label="Observação Envio"></app-error-message>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="box-header with-border">
          <h3 class="box-title">Lista de pedidos de reforço de amostras para envio</h3>
        </div>
        <div class="box-body">
        </div>

        <div class="box-header with-border">
          <h3 class="box-title">Lista de amostras para envio</h3>
        </div>
        <div class="box-body">
          <app-loading *ngIf="loadingListSample"></app-loading>
          <app-no-results *ngIf="(!listSamples || listSamples.length<=0) && !loadingListSample"></app-no-results>

          <div class="table-responsive" *ngIf="listSamples && listSamples.length>0">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-xs-1 text-center">
                    Incluir
                  </th>
                  <th class="col-xs-1 text-center">
                    Lote
                  </th>
                  <th class="col-xs-3 text-center">
                    Motivo
                  </th>
                  <th class="col-xs-1 text-center">
                    Código de Barras
                  </th>
                  <th class="col-xs-1 text-center">
                    Ação
                  </th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let sample of listSamples">
                  <td class="text-center">
                    <input *ngIf="sample.barcode" [checked]="sample.selected" (change)="sample.selected = !sample.selected" type="checkbox">
                    <span class="fa fa-question-circle fa-lg" *ngIf="!sample.barcode" appTooltip="É necessário que seja gerado um código de barras para que esse lote seja enviado"></span>
                  </td>
                  <td class="text-center">{{sample.batchCodes}}</td>
                  <td class="text-center">{{sample.motiveLabel}}</td>
                  <td class="text-center">{{sample.barcode ? 'Sim' : 'Não'}}</td>
                  <td class="text-center">
                    <button (click)="printBarCode(sample)" type="button" appTooltip="Imprimir" class="btn btn-danger btn-sm">
                      <i class="fa fa-print"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer">
            <div class="row">
              <div class="col-sm-offset-2">
                <div class="col-sm-10 mb10">
                  <button [disabled]="loading" [class.has-spinner]="loading" type="button" class="btn btn-size btn-success" (click)="save()">
                    <span class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></span>
                    SALVAR
                  </button>
                  <button [disabled]="loading" [class.has-spinner]="loading" type="button" class="btn btn-size btn-success" (click)="saveAndSend()">
                    <span class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></span>
                    SALVAR E ENVIAR
                  </button>
                  <a [class.disabled]="loading" routerLink="/sample-pack" class="btn btn-default btn-size">
                    VOLTAR
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
