<app-loading *ngIf="loading"></app-loading>
<div
  *ngIf="!loading && (!certificates || certificates.length<=0)"
  style="width: 100%"
  class="text-center">
  Não existem certificados para esta nota fiscal
</div>
<table
  *ngIf="!loading && (certificates && certificates.length>0)"
  class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th class="col-xs-3">Certificado</th>
      <th class="col-xs-3">Número Certificadora Custódia - CDC</th>
      <th class="col-xs-2">Número Certificadora Origem</th>
      <th class="col-xs-2 text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificate of certificates">
      <td>{{ certificate.certificate?.name }}</td>
      <td>{{ certificate.certifiedCustodyCode }}</td>
      <td>{{ certificate.certifiedOriginCode }}</td>
      <td class="bts-list-actions">
        <a
          *ngIf="fiscalNote.certificatesWriteable"
          href="javascript:"
          (click)="onEditClick($event, certificate)"
          class="btn btn-primary btn-sm"
          appTooltip="Editar">
          <span class="fa fa-pencil fa-lg"></span>
        </a>
        <a
          *ngIf="fiscalNote.certificatesWriteable"
          href="javascript:"
          (click)="onDeleteClick($event, certificate)"
          type="button"
          appTooltip="Excluir"
          class="btn btn-danger btn-sm">
          <span class="fa fa-trash-o fa-lg"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<app-confirm
  *ngIf="deleteConfirm.opened"
  message="Tem certeza que deseja excluir este registro?"
  (confirm)="delete(deleteConfirm.value)"
  (close)="deleteConfirm.close()">
</app-confirm>